<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">


        <div class="form-group">
            <label style="margin-left: 10px; font-size: 18px;"><a href="/opretmedlem" style="color: #00FF7F;">+ Opret Medlem</a></label>
        </div>
        <div class="form-group">
            <label style="margin-left: 10px; font-size: 18px;"><a href="/opretskole" style="color: #00FF7F;">+ Opret Skole</a></label>
        </div>
        <div class="form-group">
            <label for="name" style="color: white; margin-left: 10px; font-size: 15px;">Søg efter barn: </label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1  col-sm-10">
                <button type="submit" class="btn btn-default" style="width: 100%; border-radius: 0;">Søg</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2  col-sm-10">
                <a href="#" style="color: white; text-decoration: underline;">Avanceret Søg</a>

            </div>
        </div>


        <li>
            <a href="list.html">Klasser:</a>
        </li>
        <li>
            <a href="list.html">3 Klasse</a>
        </li>
        <li>
            <a href="list.html">4 Klasse</a>
        </li>
        <li>
            <a href="list.html">5 Klasse</a>
        </li>
        <li>
            <a href="list.html">6 Klasse</a>
        </li>
        <li>
            <a href="list.html">7 Klasse</a>
        </li>
        <li>
            <a href="list.html">8 Klasse</a>
        </li>
        <li>
            <a href="list.html">9 Klasse</a>
        </li>
        <li>
            <a href="list.html">10 Klasse</a>
        </li>

    </ul>

</div>